numpy==1.23.5
llvmlite
numba==0.48.0
tensorboardX
easydict
pyyaml
scikit-image
tqdm
SharedArray==3.0.0
opencv-python
pyquaternion
spconv-cu118
av2==0.2.1
kornia==0.7.3
shapely==1.8.4
packaging
triton==2.1.0
timm==1.0.8
pytest 
chardet 
yacs 
termcolor
submitit 
tensorboardX
fvcore
seaborn
setuptools
ninja
transformers==4.43.3
ipdb